<div class="container">
  <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
    <div class="col-md-3 mb-2 mb-md-0">
      <a href="{{ url_for('home') }}" class="d-inline-flex link-body-emphasis text-decoration-none">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-truck-front-fill" viewBox="0 0 16 16">
          <path d="M3.5 0A2.5 2.5 0 0 0 1 2.5v9c0 .818.393 1.544 1 2v2a.5.5 0 0 0 .5.5h2a.5.5 0 0 0 .5-.5V14h6v1.5a.5.5 0 0 0 .5.5h2a.5.5 0 0 0 .5-.5v-2c.607-.456 1-1.182 1-2v-9A2.5 2.5 0 0 0 12.5 0zM3 3a1 1 0 0 1 1-1h8a1 1 0 0 1 1 1v3.9c0 .625-.562 1.092-1.17.994C10.925 7.747 9.208 7.5 8 7.5s-2.925.247-3.83.394A1.008 1.008 0 0 1 3 6.9zm1 9a1 1 0 1 1 0-2 1 1 0 0 1 0 2m8 0a1 1 0 1 1 0-2 1 1 0 0 1 0 2m-5-2h2a1 1 0 1 1 0 2H7a1 1 0 1 1 0-2"/>
        </svg>
        <h3 class="mb-0 ms-2">BrewBites</h3>
      </a>
    </div>

    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
      <li><a href="{{ url_for('home') }}" class="nav-link px-2 link-secondary">Home</a></li>
      <li><a href="{{ url_for('breweries') }}" class="nav-link px-2">Breweries</a></li>
      <li><a href="{{ url_for('trucks') }}" class="nav-link px-2">Trucks</a></li>
      <li><a href="{{ url_for('map') }}" class="nav-link px-2">Map</a></li>
      <li><a href="{{ url_for('about') }}" class="nav-link px-2">About</a></li>
      {% if logged_in and admin: %}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Admin</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="{{ url_for('add', type='brewery') }}">Add Brewery</a></li>
          <li><a class="dropdown-item" href="{{ url_for('add', type='truck') }}">Add Food Truck</a></li>
        </ul>
      </li>
      {% endif %}
    </ul>

    <div class="col-md-3 text-end">
      {% if not logged_in: %}
      <a href="{{ url_for('login') }}">
      <button type="button" class="btn btn-outline-primary me-2">Login</button>
      </a>
      <a href="{{ url_for('sign_up') }}">
      <button type="button" class="btn btn-primary">Sign Up</button>
      </a>
      {% else: %}
      <a href="{{ url_for('logout') }}">
      <button type="button" class="btn btn-outline-primary me-2">Logout</button>
      </a>
      {% endif %}
    </div>
  </header>
</div>
